<div class="container">
  <% @stores.each do |store| %>
    <div class="store">
      <p> Name: <%= store.long_name %> </p>
      <p> City: <%= store.city %> </p>
      <p> Distance: <%= store.distance %> </p>
      <p> Phone: <%= store.phone %> </p>
      <p> Type: <%= store.store_type %> </p>
    </div>
    <br>
  <% end %>
</div>
